@font-face {
  font-family: "TwitterColorEmoji";
  src: url("TwitterColorEmoji-SVGinOT.ttf") format("truetype");
}

@media (max-width: 768px) {
  .status {
    margin: 1rem !important;
    width: 60px !important;
    height: 160px !important;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-20dvw);
  }

  to {
    transform: translate(0) rotate(90deg);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(20dvw);
  }

  to {
    transform: translate(0) rotate(-90deg);
  }
}

@keyframes slideOutLeft {
  from {
    transform: translateX(-20dvw);
  }

  to {
    transform: translate(0) rotate(90deg);
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(20dvw);
  }

  to {
    transform: translate(0) rotate(-90deg);
  }
}

html {
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  position: relative;
  min-height: 100%;
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "TwitterColorEmoji";
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: #ffffe0;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.btn-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.status {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  border-radius: 3px;
  width: 460px;
  height: 160px;
}

#choice {
  margin: 0.7rem 3.5rem;
  font-size: 50px;
  cursor: pointer;
}

#choice:hover {
  font-size: 55px;
}

.animateInLeft {
  animation: slideInLeft 1s ease-out;
  transform: rotate(90deg);
}

.animateOutLeft {
  animation: slideOutLeft 1s ease-out;
  transform: rotate(90deg);
}

.animateInRigth {
  animation: slideInRight 1s ease-out;
  transform: rotate(-90deg);
}

.animateOutRigth {
  animation: slideOutRight 1s ease-out;
  transform: rotate(-90deg);
}

button {
  background-color: rgb(64, 64, 64);
  color: white;
  font-size: 40px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
  margin: 1vh 6vh;
  width: 8rem;
  font-family: "TwitterColorEmoji";
  transition: transform 0.3s ease 0s, background-color 0.8s;
}

button:hover {
  background-color: black;
  cursor: pointer;
  transform: translateY(-5px);
}

.score {
  display: flex;
  justify-content: center;
  align-items: center;
}

#explain,
#result,
#tellWinner {
  color: #ffffe0;
  font-size: large;
  text-align: center;
  margin-top: 5vh;
}

#playerScore,
#computerScore {
  color: #ffffe0;
  font-size: large;
  margin: 1rem 2rem;
}
